<hr>

<% if (typeof user !== "undefined" && user) { %>
  <!-- Vises KUN når logget ind -->
  <p class="menu-user">Logget ind som <strong><%= user.username %></strong></p>

  <a href="/upload" class="menu-item">Lav opslag</a>
  <a href="/users/change-password" class="menu-item">Skift adgangskode</a>

  <form action="/users/logout" method="POST" style="margin-top: 10px;">
    <button type="submit" class="menu-item btn-logout">Log ud</button>
  </form>

<% } else { %>
  <!-- Når man IKKE er logget ind -->
  <a href="/users/login" class="menu-item">Log ind</a>
  <a href="/users/signup" class="menu-item">Opret virksomhed</a>
<% } %>
