<!DOCTYPE html>
<html lang="da">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="layout">
      <%- include('partials/nav') %>

      <main class="content">
        <%- body %>
      </main>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
